<!-- <ng-mat-forms #temp [Fields]='Fields' [options]='option' (formSubmit)='getForm($event)' 
(formFieldsChange)='valueChanges($event)' (formChange)="getFormAll($event)">
</ng-mat-forms> -->

<main class="main">
    <div class="flex-column">
        <div class="image-logo">
            <img height="150px" class="image-icon">
        </div>
        <div class="hero-text">
            <p>ng-mat-forms</p>
            <div class="buttons">
                <a href="https://msk-satheesh-5599.gitbook.io/ng-mat-forms/">
                    <button class="btn document">Documentation</button>
                </a>
                <a href="https://github.com/msk-satheesh-5599/ng-mat-forms">
                    <button class="btn demo">
                        <span class=""><img class="git-logo" height="20px" width="30px"></span>
                        <span>Source</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="footer">
            <p class="footer-text">Copyright (c) 2019 msk-satheesh-5599</p>
        </div>
    </div>
</main>