/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo|Julius+Sans+One|Ruda&display=swap');

*, body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}