/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Ruda';
    src: url("assets/fonts/Ruda-Regular.ttf");
}

*, body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}